body{
	background:#a7a09a;
	
}
h1{
	text-align:center;
	font-size:auto;
}
div{
	width:49%;
	display:inline-block;
	text-align: center;
	vertical-align: text-top;
	border:1px solid purple;
	padding-bottom:10px;
	
}
#message{
	width:80%;
}
